<!--<h1>Top 10 Snippets</h1>-->
<h1><%= @title %></h1>

<%= render 'snippets/nav' %>

<table>
  <tr>
    <th>Snippet</th>
    <th>Author</th>
		<th>Opened</th>
    <th>Date Updated</th>
		
  </tr>

<% @snippets.each do |snippet| %>
  <tr>
		<% if snippet.title %>
		<td><%= link_to snippet.title, snippet %></td>
		<% else %>
		<td><%= link_to snippet.created_at, snippet %></td>
		<% end %>
		<td><a href="/user_snippets/<%= snippet.user.id %>"><%= snippet.user.email %></a></td>
		<td><%= snippet.count %></td>
		<td><%= snippet.updated_at %></td>
  </tr>
<% end %>
</table>

<br />