<h1>All URLs</h1>

<%= render 'bouncers/bouncer_nav' %>

<table>
  <tr>
    <th width="200px">Title</th>
		<th width="30px">Chars</th>
		<th width="30px">Count</th>
    <th>Url</th>
  </tr>

<% @all_urls.each do |bouncer| %>
  <tr>
    <td><%= bouncer.title %></td>
		<td><%= bouncer.chars %></td>
		<td><%= bouncer.count %></td>
    <td><%= bouncer.url %></td>
  </tr>
<% end %>
</table>


