<h1><%= @title %></h1>

<%= render 'bouncers/bouncer_nav' %>

<table>
  <tr>
    <th width="200px">Title</th>
		<th width="30px">Chars</th>
		<th width="30px">Count</th>
    <th>Url</th>
		<% if @show_edit_controls %>
			<th width="30px"></th>
	    <th width="30px"></th>
		<% end %>
  </tr>

<% @bouncers.each do |bouncer| %>
  <tr>
    <td><%= bouncer.title %></td>
		<td><%= bouncer.chars %></td>
		<td><%= bouncer.count %></td>
    <td><a href="<%= bouncer.url %>" alt="<%= bouncer.url %>"><%= bouncer.url.slice(0...50) %><%= "..." if bouncer.url.length > 50 %></a></td>
		<% if @show_edit_controls %>
			<td><%= link_to 'Show', bouncer %></td>
	    <td><%= link_to 'Edit', edit_bouncer_path(bouncer) %></td>
		<% end %>
  </tr>
<% end %>
</table>

<br />
