<header>

	<nav class="round main-menu">

		<ul>
			<li><%= link_to "Home", root_path %></li>
			<li><%= link_to "URL Shortener", '/top_10_urls' %></li>
			<li><%= link_to "VA PasteBin", snippets_path %></li>
		</ul>
		
		<div id="user_nav">
		  <% if user_signed_in? %>
		    Hello, <a href="/users/edit" class="title_link"><%= current_user.email %></a>.  | 
		    <%= link_to "Sign out", destroy_user_session_path %>
		  <% else %>
		    <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %>
		  <% end %>
		</div>

	</nav>
	
</header>